
.browsHeader {
    display: flex !important; 
    align-items: center;
    justify-content: space-between;
}


.browsHeader a {
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    color: grey;
}

.browsHeader a:hover {
    border-bottom: 1px dotted grey;
}

.browsLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 990px) {
    .browsLinks { 
        padding: 0 30px !important;
    }
}

@media (max-width: 600px){
    .browsLinks { 
        padding: 0 20px !important;
    }

    .coltype{
        margin-top: 30px;
    }
    
}

.items {
    padding: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items a {
    color: grey;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
}
.items a:hover {
    border-bottom: 1px dotted grey;
}

.browsLinks img {
    height: 60px;
    width: 60px;
}


.hr {
    background-color: rgb(0, 0, 0);
    height: 3px;
    margin-top: 60px;
}