.searchContainer {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 3px solid grey;
    border-radius: 5px;
    padding: 20px 10px; 
    background-color: white !important;
    margin-top: -80px !important;
}


.Conditions {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.allCondition .inputBox {
    flex-basis: 25% !important;
}