.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.sidebar {
    flex-basis: 25%;
}


.content {
    flex-basis: 75%;
}

@media (max-width: 1000px) {
    .innerContainer {
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
    }

    .sidebar, .content {
        flex-basis: 100%;
    }

    .col2 {
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .cardContainer {
        min-width: 98% !important;
        margin: 0 !important;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name {
    flex-basis: 70%;
}

.name p {
    padding: 0 !important ;
    margin: 0 !important;
    text-transform: uppercase;
    color: green;
    font-weight: 600;
    font-size: 14pt;
}

.name a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 16pt;
    line-height: 0;
    text-decoration: none;
}

.name a:hover {
    color: green;
}

.price {
    flex-basis: 30%;
    padding-right: 10px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: rgb(3, 202, 3);
    color: white;
    font-weight: 700;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* DETAIL */    
.details {
    display: flex;
    justify-content: space-between;
    color: grey;
    margin-bottom: 20px;
    margin-top: 20px;
}

.detialItem {
    display: flex;
}
.icon {
    margin-right: 10px;
}
.carDetail {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.text {
    text-transform: uppercase;
}
.num {
    font-weight: bold;
    color: black;
}

.vSeperator {
    padding: 0 !important;
    margin: 0 !important;
    border-right: 1px solid black;
}

.dealer {
    margin-top: 15px;
    display: flex;
}

.dealer a {
    text-transform: uppercase;
}

.dealer p {
    margin-left: 15px;
}




/* content header */
.classified {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid green;
}

.classified h4 {
    background: green;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    width: 300px;
    color: white;
    clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
}

.classified p {
    font-size: 13pt;
    font-weight: 600;
    color: green;
    padding-bottom: 0;
}


@media (max-width: 600px) {
    .details {
        display: block;
    }

    .carDetail {
        flex-direction: row;
        font-size: 13pt;
        margin-left: 5px;
    }

    .detialItem {
        border-bottom: 1px solid grey;
        margin: 15px 0;
        padding-bottom: 3px;
    }

    .vSeperator {
        display: none;
    }

    .num {
        margin-left: 15px;
    }

    .icon {
        width: 30px;
        text-align: center;
    }

    .dealer {
        font-size: 13pt;
    }

    .classified h4 {
        padding-left: 5px;
        font-size: 14pt;   
        width: 200px; 
    }

}